.bold {
  font-weight: bold;
}

li:hover {
  background-color: aqua;
}

.navbar{
  border-color: #1ca2e6;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 5px 10px blue;
}

.page-item{
  border-color: #1ca2e6;
  border-style: solid;
  border-width: 1px;
  box-shadow: 1px 5px 10px blue;
}

.force-scroll {
  overflow-y: scroll;
  height: 250px;
}

#btn {
  background-color: #1ca2e6;
}

